@import url(./default.css);

/* default값 변경 후 font-size에 clamp 적용해 본 예시*/
/* html {
  font-size: 10px;
}
body {
  font-size: clamp(1rem, 3vw, 2.4rem);
} */

.container {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;

  /* div {
    background-color: #fff;
    box-shadow: 0 0 0 1px #000;
  } */
}

.container-fluid {
  margin: 0 auto;
  width: 80%;
  /* width: clamp(500px, 80%, 1200px); */
}

.container-fixed {
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;

  div {
    background-color: #fff;
    box-shadow: 0 0 0 1px #000;
  }
}

.logo {
  /* margin-right: auto; */
  flex-shrink: 0;
}

.search {
  flex-grow: 1;
}

.login {
  order: 1;
  flex-shrink: 0;
}

.navigation {
  height: 50px;
}

/* .main과 .sidebar를 Grouping */
.wrapper {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 50px;
  flex: 1 0 0;
  /* overflow: auto; */
}

/* .main과 .sidebar를 Grouping */
.main {
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0; */
  flex: 1 0 0;
  box-shadow: 0 0 0 1px #000;
  min-width: 300px;

  .pagination {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
  }
}

.sidebar {
  /* flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px; */
  flex: 0 0 150px;
}

.footer {
  height: 50px;
}
