<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/07-animation.css" />
  </head>
  <body>
    <h1>애니메이션 관련 속성</h1>
    <div class="box">
      국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를 유지하고,
      시장의 지배와 경제력의 남용을 방지하며, 경제주체간의 조화를 통한 경제의
      민주화를 위하여 경제에 관한 규제와 조정을 할 수 있다. 국가는 균형있는
      국민경제의 성장 및 안정과 적정한 소득의 분배를 유지하고, 시장의 지배와
      경제력의 남용을 방지하며, 경제주체간의 조화를 통한 경제의 민주화를 위하여
      경제에 관한 규제와 조정을 할 수 있다. 국가는 균형있는 국민경제의 성장 및
      안정과 적정한 소득의 분배를 유지하고, 시장의 지배와 경제력의 남용을
      방지하며, 경제주체간의 조화를 통한 경제의 민주화를 위하여 경제에 관한
      규제와 조정을 할 수 있다.
    </div>
  </body>
</html>
