<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>z-index</title>
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/10-zindex.css" />
  </head>
  <body>
    <h1>z-index</h1>
    <div class="box1">박스1 : 여기는 z-index는 0번</div>
    <div class="box2">박스2 : 여기는 z-index는 0번</div>
    <div class="box3">
      박스3 : 여기는 z-index는 0번
      <div class="box-inner1">박스 inner1 : z-index가 0번</div>
      <div class="box-inner2">박스 inner2 : z-index가 0번</div>
    </div>
  </body>
</html>
