<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>반응형 이미지</title>
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/12-rwd-image.css" />
  </head>
  <body>
    <h1>반응형 이미지</h1>

    <!-- div 요소 / span 요소 -->
    <!-- <h3>div/span 요소</h3>
    <div><img src="https://picsum.photos/id/684/400/600" alt="" /></div>
    <span><img src="https://picsum.photos/id/684/400/600" alt="" /></span>
    <br /> -->
    <!-- figure 요소 -->
    <h3>피겨 요소</h3>
    <div class="box">
      <figure>
        <img src="https://picsum.photos/id/684/600/400" alt="" />
      </figure>
    </div>
    <br />
    <!-- <h3>피겨 캡션 적용</h3>
    <figure>
      <img
        src="https://picsum.photos/id/684/600/400"
        alt="대체 텍스트"
        aria-describedby="imgCaption"
      />
      <figcaption id="imgCaption">이미지 캡션</figcaption>
    </figure> -->
    <br />
    <!-- 반응형 대응 대체 이미지 -->
    <!-- <h3>반응형 대응 대체 이미지</h3>
    <figure>
      <picture>
        <source
          srcset="
            ../../images/image-1x.png  734w,
            ../../image-2x.png        1468w,
            ../../image-3x.png        1756w
          "
        />
        <img src="https://picsum.photos/id/684/400/600" srcset="" alt="" />
      </picture>
    </figure> -->
  </body>
</html>
