<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>카드 박스</title>
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/components/css/card-box.css" />
  </head>
  <body>
    <h1>카드 박스</h1>

    <div class="container">
      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/684/600/400" alt="" />
          </figure>
          <p>
            국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를
            유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의
            조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수
            있다.
          </p>
          <ul>
            <li>#photography</li>
            <li>#travel</li>
            <li>#winter</li>
          </ul>
        </article>
      </div>
      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/368/600/400" alt="" />
          </figure>
          <p>
            국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를
            유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의
            조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수
            있다.
          </p>
          <ul>
            <li>#photography</li>
            <li>#travel</li>
            <li>#winter</li>
          </ul>
        </article>
      </div>
      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/685/600/400" alt="" />
          </figure>
          <p>
            국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를
            유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의
            조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수
            있다.
          </p>
          <ul>
            <li>#photography</li>
            <li>#travel</li>
            <li>#winter</li>
          </ul>
        </article>
      </div>
      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/686/600/400" alt="" />
          </figure>
          <p>
            국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를
            유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의
            조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수
            있다.
          </p>
          <ul>
            <li>#photography</li>
            <li>#travel</li>
            <li>#winter</li>
          </ul>
        </article>
      </div>
      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/687/600/400" alt="" />
          </figure>
          <p>
            국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를
            유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의
            조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수
            있다.
          </p>
          <ul>
            <li>#photography</li>
            <li>#travel</li>
            <li>#winter</li>
          </ul>
        </article>
      </div>
      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/688/600/400" alt="" />
          </figure>
          <p>
            국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를
            유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의
            조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수
            있다.
          </p>
          <ul>
            <li>#photography</li>
            <li>#travel</li>
            <li>#winter</li>
          </ul>
        </article>
      </div>
      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/689/600/400" alt="" />
          </figure>
          <p>
            국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를
            유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의
            조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수
            있다.
          </p>
          <ul>
            <li>#photography</li>
            <li>#travel</li>
            <li>#winter</li>
          </ul>
        </article>
      </div>
      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/690/600/400" alt="" />
          </figure>
          <p>
            국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를
            유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의
            조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수
            있다.
          </p>
          <ul>
            <li>#photography</li>
            <li>#travel</li>
            <li>#winter</li>
          </ul>
        </article>
      </div>
      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/691/600/400" alt="" />
          </figure>
          <p>
            국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를
            유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의
            조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수
            있다.
          </p>
          <ul>
            <li>#photography</li>
            <li>#travel</li>
            <li>#winter</li>
          </ul>
        </article>
      </div>
      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/692/600/400" alt="" />
          </figure>
          <p>
            국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를
            유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의
            조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수
            있다.
          </p>
          <ul>
            <li>#photography</li>
            <li>#travel</li>
            <li>#winter</li>
          </ul>
        </article>
      </div>
      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/693/600/400" alt="" />
          </figure>
          <p>
            국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를
            유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의
            조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수
            있다.
          </p>
          <ul>
            <li>#photography</li>
            <li>#travel</li>
            <li>#winter</li>
          </ul>
        </article>
      </div>
      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/684/600/400" alt="" />
          </figure>
          <p>
            국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를
            유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의
            조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수
            있다.
          </p>
          <ul>
            <li>#photography</li>
            <li>#travel</li>
            <li>#winter</li>
          </ul>
        </article>
      </div>
    </div>
  </body>
</html>
