<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>숨김 콘텐츠</title>
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./../style/sr-only.css" />
  </head>
  <body>
    <h1>숨김 콘텐츠</h1>
    <p class="sr-only">
      국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를 유지하고,
      시장의 지배와 경제력의 남용을 방지하며, 경제주체간의 조화를 통한 경제의
      민주화를 위하여 경제에 관한 규제와 조정을 할 수 있다.
    </p>
    <figure class="is-online">
      <img src="" alt="김수혁" />
      <figcaption>
        <span class="sr-only">김수혁</span>
        <span class="sr-only">오프라인</span>
        <span class="state"></span>
      </figcaption>
    </figure>
  </body>
</html>
